@font-face {
    src: url("../fonts/Montserratarm-Bold.otf");
    font-family: 'Monsterat_bold';
}
@font-face {
    src: url("../fonts/Montserratarm-Medium.otf");
    font-family: 'Montserrat-Medium';
}
@font-face {
    src: url("../fonts/Montserratarm-Regular.otf");
    font-family: 'Montserrat-Regular';
}
@font-face {
    src: url("../fonts/Montserratarm-Light.otf");
    font-family: 'Montserrat-Light';
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat-Regular';
}

*:focus{
    outline: none;
}

a{
    text-decoration: none;
}

.h1_bold{
    font-family: 'Monsterat_bold';
     font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 63px;
}
.h2_bold{
    font-family: 'Monsterat_bold';
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px;

}
.h3_slimbold{
    font-family: 'Monsterat_bold';
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 37px;
}
.p_regular{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}
.h5_medium{
    font-family: 'Montserrat-Medium';
     font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.h4_regular{
    font-family: 'Montserrat-Regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.general_title{
    color: #373737;
}

.second_title{
    color: rgba(55, 55, 55, .8);
}

.second_title_blue{
    color: #00A0D4;
}
.path_title{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-transform: uppercase;
    color: #373737;
    transition: all .3s;
}
.path_title:hover{
    color: #00A0D4;
}
.wrapper{
    width: calc(100% - 270px);
    margin: 0 auto;
}

.d_flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blue_color{
    color: #00A0D4!important;
}
/*header*/

header{
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all .3s;

}

.header_active{
    background-color: white;
    transition: all .3s;
}
.header_bg{
    background-color: #F2F6F9;
    height: 128px;
}

.header_block{
    height: inherit;
}

.logo_block{
    border-right: 1px solid rgba(55, 55, 55, .2);
    padding-right: 44px;
}

.mobile_burger{
    display: none;
}

.mobile_burger_block{
    display: none;
}
nav{
    width: 34%;
}

.links{
    color: #373737;
    transition: all .3s;
}

.links:hover{
     color: #00A0D4;
}
.links:hover span svg path{
    transition: all .3s;
    stroke: #00A0D4;
}
.header_social_block{
    width: 5%;
}

.phone_number{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #373737;
    transition: all .3s;
}
.phone_number:hover{
     color: #00A0D4;
}

.content_btn{
    width: max-content;
    padding: 0 60px;
    height: 55px;
    color: #FFFFFF;

}

.see_more{
    margin: 36px auto 0;
}

.btn_blue{
    background: #00A0D4;
    border-radius: 4px;
    transition:  all .3s;
    text-transform: uppercase;
    border:1px solid transparent;
}

.btn_blue:hover{
    background: #00B8F3;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 6px 20px rgba(14, 159, 212, 0.4);

}

.header_leave_app{

    width: 202px;
    height: 42px;
    justify-content: center;
    color: #FFFFFF;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;

}

.language_block{
    column-gap: 10px;
}

/*main*/

.home .general_pic_sec img{
    height: 100%;
}

.general_pic_sec{
    height: 86vh;
}

.general_pic_sec img {
    width: 100%;
    height: 86%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}
.general_block{
    padding-top: 230px;
}
.general_pic_text_block .general_title{
    max-width: 660px;
}
.general_pic_text_block .second_title,.general_pic_text_block .second_title_blue{
    display: block;
    margin: 20px 0 35px;
}

.get_offer{
    width: 270px;
    height: 55px;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

.products_block{
    margin-top: 55px;
    row-gap: 32px;
}

.product_block{
    width: 530px;
    height: 306px;
    border: none;
    border-radius: 10px;
    position: relative;
}

.product_block a{
    width: 100%;
    height: 100%;
    display: block;
}

.product_block img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.product_title{
    position: absolute;
    bottom: 30px;
    left: 0;
    padding: 0 34px;
    width: max-content;
    height: 54px;
    background: #FFFFFF;
    justify-content: center;
    color: #0E9FD4;
    transition: all .3s;
}
.product_block:hover{
    outline: 1px solid black;
}
.product_block:hover .product_title{
    background: #0E9FD4;
    color: #FFFFFF;
}

/*footer*/

footer{
    background: #F4F8FD;
    padding-top: 66px;
}

.footer_top{
    align-items: flex-start;
    margin-bottom: 62px;

}
.footer_cols{
    align-items: flex-start;
    width: 80%;
}

.logo_social_block{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 49px;
}

.logo_social_block .logo_block{
    border: none;
}


.footer_social_sec span{
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
    color: #000000;
}

.footer_social_block{
    margin-top: 25px;
    justify-content: flex-start;
    column-gap: 26px;
}

.footer_col{
    flex-direction: column;
    align-items: flex-start;
    row-gap: 12px;
}

.footer_col_title{
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 8px;
    transition: all .3s;
    display: block;
}

.footer_col_link{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #000000;
    opacity: 0.7;
    transition: all .3s;
}
.footer_col_title:hover,.footer_col_link:hover{
    color: #0E9FD4;
}

.footer_contact{
    align-items: flex-start;
    flex-direction: column;
    row-gap: 16px;
}

.footer_contact .footer_col_title:hover,.footer_address_block .footer_col_title:hover{
    color: #000000;
}

.footer_address_block{
    margin-top: 29px;
}

.footer_address_block .footer_col_title{
    margin-bottom: 18px;
}

.footer_phone,.footer_email,.footer_address{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #373737;
    justify-content: flex-start;
    column-gap: 14px;
    transition: all .3s;
}
.footer_phone:hover,.footer_email:hover{
    color: #0E9FD4;
}

.footer_bottom{
    border-top: 1px solid rgba(14, 159, 212, .2);
    height: 93px;
}
.all_rights{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #000000;
}
.privacy{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #000000;
    transition: all .3s;
}

.privacy:hover{
    color: #0E9FD4;
}

.created_by{
    column-gap: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #000000;
}
