@media only screen and (max-width: 1560px) {
    /*global*/
    .wrapper {
        width: calc(100% - 200px);
    }

    .p_regular {
        font-size: 14px;
    }

    /*header*/
    .header_leave_app {
        width: 180px;
    }

    /*main*/
    .product_block {
        width: 410px;
    }

    .home .service_right_block {
        padding: 85px 15px 0 0;
    }

}

@media only screen and (max-width: 1440px) {
    .wrapper {
        width: calc(100% - 100px);
    }

    .home .service_block {
        width: 204px;
    }

    .product_block {
        width: 550px;
    }
}

@media only screen and (max-width: 1370px) {
    .h2_bold {
        font-size: 30px;
    }

    .h4_regular {
        font-size: 16px;
    }

    .h5_medium {
        font-size: 14px;
    }

    /*footer*/
    .footer_cols {
        width: 74%;
    }

    .footer_col_title {
        font-size: 20px;
    }

    .footer_col_link {
        font-size: 14px;
    }

    .footer_phone, .footer_email, .footer_address {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1280px) {
    .header_social_block {
        display: none;
    }

    .header_leave_app {
        display: none;
    }

    nav {
        width: 45%;
    }

    .home .service_block {
        width: 181px;
    }

    .product_block {
        width: 470px;
    }

    .home .service_block {
        width: 159px;
    }

    .footer_cols {
        width: 77%;
    }

    .footer_col_title {
        font-size: 17px;
    }

    .footer_col_link {
        font-size: 12px;
    }

    .footer_phone, .footer_email, .footer_address {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1150px) {
    .wrapper {
        width: calc(100% - 40px);
    }

    .phone_number {
        display: none;
    }
}

@media only screen and (max-width: 1088px) {
    .solutions_item_content_pic{
        width: 100%;
    }
    .solutions_item_content_text{
        max-width: 100%;
        width: calc(100% - 40px);
        margin: 0 auto;
    }
    .solutions_item_content{
        padding-bottom: 31px;
    }
}

@media only screen and (max-width: 1024px) {

    nav {
        display: none !important;
    }

    .mobile_burger {
        display: block;
    }

    .logo_block {
        border-right: none;
        padding-right: 0;
        width: 147px;

    }

    .logo_block img {
        width: 100%;
        height: 100%;
    }

    .home .services_sec {
        height: 100%;
    }

    .home .service_left_block {
        width: 100%;
    }

    .home .service_right_block {
        width: 100%;
        padding: 39px 20px;
    }


    .home .service_desc {
        text-align: left;
    }

    .home .service_block {
        width: 279px;
    }

    .customers_about_us_block .customer_comment_block {
        width: 350px;
        height: 100%;
    }

    .footer_col {
        width: 42%;
    }

    .footer_bottom {
        padding: 18px 0;
        row-gap: 18px;
        height: 100%;
    }

    /*    contact*/
    .contact .our_contacts_block {
        height: auto;
        padding: 32px 0 68px;
    }

    .our_contact_item {
        width: 50%;
        justify-content: flex-start;
        border-right: none;
        padding-right: 0;
    }

    .office_pic_blocks {
        row-gap: 12px;
    }

    .office_pic_block {
        max-width: 487px;
        height: 362px;
        border-radius: 10px;
    }

    .mobile_left_side{
        display: block;
        width: 100%;
        border-bottom: 1.5px solid rgba(0, 0, 0, .2);
        padding-bottom: 16px;
    }

    .mobile_message_links_header{
        justify-content: flex-start;
        column-gap: 30px;
    }
    .mobile_message_links{
        display: none;
    }
    .mobile_message_links_active{
        height: 100vh;
        position: absolute;
        top: 271px;
        background: white;
        align-items: flex-start;
        display: block;
        justify-content: flex-start;
        width: 93%;
    }
    .mobile_message_links a:first-child{
        border-top: 0;
    }
    .mobile_message_links a{
        display: block;
    }
    .message{
        margin-top: 16px;
    }
    .message .left_side {
        display: none;
    }

    .message .right_side {
        width: 100%;
    }
    .business_left_side{
        width: 100%;
    }
    .business_right_side{
        width: 100%;
    }
    .message .right_side h3{
        font-size: 23px;
        padding: 16px 0!important;
    }
    .business_block .d_flex{
        row-gap: 36px;
    }
}

@media only screen and (max-width: 992px) {
    .home .general_pic_sec img {
        height: 100%;
        object-fit: cover;
        object-position: right;
    }

    .product_block {
        width: 100%;
    }

    .home .service_block {
        width: 209px;
    }

    .home .customers_about_us_block {
        padding: 52px 0;
    }

    .customers_about_us_block .customer_comment_block {
        padding: 25px 10px;
    }

    .footer_top {
        row-gap: 37px;
    }

    /*    contanct*/
    .our_contacts_item_block {
        row-gap: 51px;
    }

    .our_contact_item {
        width: 100%;
    }

    .office_pic_block {
        max-width: 100%;
        width: 100%;
    }

}

@media only screen and (max-width: 768px) {
    .services_block {
        row-gap: 38px;
    }

    .home .service_block {
        width: 100%;
    }

    .customers_about_us_block .customer_comment_block {
        width: 335px;
        margin-right: 10px;
    }

}

@media only screen and (max-width: 680px) {
    .h1_bold {
        font-size: 30px;
        line-height: 37px;
    }

    .h2_bold {
        font-size: 28px;
    }

    .h3_slimbold {
        font-size: 18px;
    }

    .h4_regular {
        font-size: 12px;
    }

    .general_block {
        position: absolute;
        bottom: 40px;
        left: 20px;
    }

    .general_pic_sec {
        position: relative;
        background: linear-gradient(180deg, #EEEDEC 4.95%, rgba(238, 237, 236, 0) 9.89%), linear-gradient(0.42deg, #F0ECEB 44.46%, rgba(255, 255, 255, 0) 63.14%);
        height: 74vh;
    }

    .home .general_pic_sec img {
        height: 54%;
        top: 0;
    }

    .get_offer {
        width: 100%;
    }

    .project_terms_block {
        display: none;
    }

    .products_block {
        margin-top: 34px;
    }

    .product_block {
        height: 250px;
    }

    .content_btn {
        width: 100%;
        justify-content: center;
    }

    .customers_about_us_block .customer_comment_block {
        margin-right: 0;
        padding: 24px 8px;
    }

    .customer_pic_name_block {
        justify-content: flex-start;
    }

    .home .customers_about_us_block h6 {
        padding-right: 20px;
    }

    .solutions_item_accordion_btn{
        width: 157px;
        height: 37px;
        font-size: 10px;
    }

    .solutions_item_content_text_unordered .content_btn{
        width: 100%;
    }

    .footer_top {
        justify-content: flex-start;
        align-items: center;
    }

    .footer_col {
        width: 100%;
        align-items: flex-start;
    }
}
