.home .project_terms_block {
    margin-top: 88px;
    justify-content: flex-start;
    column-gap: 127px;
}

.home .project_block, .home .terms_block {
    justify-content: flex-start;
    column-gap: 13px;
}

.project_block span, .terms_block span {
    max-width: 123px;
    color: rgba(55, 55, 55, 0.7);
    justify-content: flex-start;
}

.home .general_pic_sec {
    height: 100vh;
}

.home .product_sec {
    margin-top: 35px;
}

.home .product_sec h3 {
    text-align: center;

    color: #373737;
}

.home .product_sec .h3_slimbold {
    display: block;
    text-align: center;
    color: #0E9FD4;
}

.home .services_sec {
    background: #0E9FD4;

}

.home .service_left_block {
    width: 50%;
    height: 100%;
}

.home .service_left_block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home .services_sec {
    margin-top: 50px;
    height: 611px;
    align-items: flex-start;
}

.home .service_right_block {
    width: 49%;
    padding: 85px 85px 0 0;

}

.home .service_right_block img {
    height: 100%;
}


.home .service_title {
    color: #FFFFFF;
}

.home .service_desc {
    color: #FFFFFF;
    display: block;
    margin: 25px 0 60px;
    line-height: 22px;
}

.home .service_block {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 224px;
    min-height: 227px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.home .service_block_title {
    color: #FFFFFF;
    margin-top: 15px;
}

.home .service_block_desc {
    text-align: center;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 21px;
    max-width: 154px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 45px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.home .service_details {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-decoration-line: underline;
    color: #FFFFFF;

}

.home .customers_about_us_sec {
    background-image: url("../img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 563px;
}

.home .customers_about_us_block {
    padding: 102px 0;
}

.home .customers_about_us_block h6 {
    color: #373737;
}

.home .customers_about_us_block .about_us_text {
    color: #0E9FD4;
}

.customers_about_us_block .customer_comment_block {
    width: 390px;
    height: 178px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    padding: 25px 20px;
    row-gap: 12px;
    margin-right: 24px;
}

.customers_comment_block {
    margin-top: 55px;
}

.customer_name {
    color: #373737;
}

.customer_comment {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #373737;
    opacity: 0.7;
}


.customer_pic_name_block {
    column-gap: 11px;
}

.customer_name_star_block {
    row-gap: 9px;
}

.customer_pic {
    width: 69px;
    height: 69px;
    border-radius: 50%;
}

.customer_pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.customer_stars {
    width: 43%;
}

.customer_left_button, .customer_right_button {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #373737;
    transition: all .3s;
    left: 0;
    top: 240px;
}

.customer_right_button {
    left: 60px;
}

.customer_left_button svg path, .customer_right_button svg path {
    fill: #333333;
    transition: all .3s;
}

.customer_left_button:hover, .customer_right_button:hover {
    background-color: #0E9FD4;
    border: 1px solid #0E9FD4;
}

.customer_left_button:hover svg path, .customer_right_button:hover svg path {
    fill: white;
}

.slick-next:before, .slick-prev:before {
    display: none;
}

/*solution*/
.solutions .product_sec {
    margin-bottom: 102px;
}

/*solutions item*/

.solutions_item_desc_sec {
    background: #F1EFEE;
    padding: 76px 0 47px;
}

.solutions_item_desc_block p {
    margin-bottom: 44px;
    color: rgba(55, 55, 55, .8);
}

.solutions_item_accordion_btns {
    column-gap: 18px;
    justify-content: center;
    margin: 31px 0;
}

.solutions_item_accordion_btn {
    position: relative;
    justify-content: center;
    width: 290px;
    height: 52px;
    background: rgba(196, 196, 196, .2);
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #000000;
    cursor: pointer;
    transition: all .3s;
}

.solutions_item_accordion_btn_active:after {
    opacity: 0;
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 10px #0E9FD4;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
    transition: all .3s;
}

.solutions_item_accordion_btn:hover {
    background: #0E9FD4;
    color: #FFFFFF;
}

.solutions_item_accordion_btn_active {
    background: #0E9FD4;
    color: #FFFFFF;
}

.solutions_item_accordion_btn_active:after {
    opacity: 1;
}

.solutions_item_content {
    height: max-content;
    background: linear-gradient(269.69deg, #F0EEED 0.27%, #F1F0EF 50.03%, rgba(241, 240, 239, 0.85) 54.92%, rgba(241, 240, 239, 0.03) 63.54%);
}

.solutions_item_content_block{
    height: 100%;
    justify-content: flex-start;
    column-gap: 30px;
}
.solutions_item_content_pic{
    width: 53%;
    height: 100%;
}
.solutions_item_content_pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tabcontent {
    display: none;
}
.solutions_item_content_text {
    max-width: 477px;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 25px;
    padding-top: 46px;
}

.solutions_item_content_text_unordered {
    flex-direction: column;
    row-gap: 12px;
    padding-left: 35px;
}

.solutions_item_content_text_unordered span {
    position: relative;
}

.solutions_item_content_text_unordered span:before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #00A0D4;
    position: absolute;
    top: 7px;
    left: -16px;
}

.solutions_item_content_second {
    display: none;
}


/*contact*/

.contact {
    padding-top: 155px;
}

.paths_block {
    padding-bottom: 25px;
    border-bottom: 1.5px solid rgba(0, 0, 0, .2);
    margin-bottom: 20px;
}

.map_block {
    margin-top: 45px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 557px;
    width: 100%;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 557px;
    width: 100%;
}

.map_block iframe {
    width: 100%;
}

.contact .our_contacts_block {
    background-color: #F2F5FA;
    height: 200px;
}

.our_contacts_item_block {
    height: inherit;
}

.our_contact_item {
    column-gap: 52px;
    border-right: 1px solid rgba(55, 55, 55, .2);
    padding-right: 36px;
}

.our_contact_item:last-child {
    border-right: none;
    padding-right: unset;
}

.our_contact_item_text {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 12px;
}

.our_contact_item_link:hover {
    color: #00A0D4;
}

.office_pic_sec {
    margin-top: 45px;
}

.office_pic_blocks {
    margin-top: 29px;
    margin-bottom: 90px;
}

.office_pic_block {
    max-width: 530px;
    height: 362px;
    border-radius: 10px;
}

.office_pic_block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}

/*message*/
.message{
    margin-top: 41px;
    align-items: flex-start;
    margin-bottom: 68px;
    justify-content: flex-start;
    column-gap: 30px;
}
.message_links {
    flex-direction: column;
    align-items: flex-start;
}

.message .left_side {
    display: block;
    width: 390px;
    height: 331px;
    background: rgba(255, 255, 255, .3);
    border-top: 7px solid #00A0D4;
    position: sticky;
    top: 145px;
    padding: 22px 51px;

}
.mobile_left_side{
    display: none;
}
.message_links {
    margin-top: 22px;
}

.message_link {
    cursor: pointer;
    border-top: 1px solid rgba(55, 55, 55, .2);
    padding: 11px 0;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #000000;
}
.message_link:active{
    color: #000000;

}
.message_link:hover{
    color: #00A0D4;

}
.message .right_side{
width: calc(100% - 420px);
}
.message .right_side img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.message .right_side .line{
    width: 932px;
    height: 3px;
    background: #0E9FD4;
    display: block;
    margin: 25px 0 0;
}
.message .right_side h3:first-child {
    padding: 0 0 20px;
}
.message .right_side h3 {
    padding: 41px 0 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #373737;
    max-width: 877px;
}

.message .right_side p {
    padding: 0 0 7.5px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: rgba(55, 55, 55, .6);
}
.business_block .d_flex{
    column-gap: 55px;
    justify-content: flex-start;
}
.business_left_side{
    background: #D2D2D2;
    width: 261px;
    height: 369px;
}
.business_right_side{
    max-width: 449px;
}
